<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpPark 2022  &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp  Privacy Policy | Terms of Service</span>
    </div>
</footer>