<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpPark</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0 mr-5">YelpPark </h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a> &nbsp
                    <a class="nav-link" href="/nationalparks">National Parks</a> &nbsp
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Log In</a> &nbsp
                    <a class="nav-link" href="/register">Sign Up</a> &nbsp
                    <% } else { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <strong><h1 class="mb-5">Welcome to YelpPark!</h1></strong>

            <strong><p class="lead"> Love Nature?  Enjoy Adventuring? <br>
                Join us to explore beautiful places around the world!</p></strong>

            <a href="/nationalparks" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mt-3">Start Your Journey</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 By Yuchen &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Privacy Policy | Terms of Service </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>